/* 
    Document   : profile
    Created on : Oct 24, 2013, 2:59:53 AM
    Author     : TerryChen
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
        
body {
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #563d7c;
    border-color: #463265;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.ui-nav .navbar-brand {
    color: ghostwhite;
    font-size: 2.0em;
}

.ui-nav .navbar-nav > li > a {
    color: #cdbfe3;
    font-size: 1.3em;
}

.side-bar {
    padding-top: 70px;
    min-height: 350px;
}

.side-bar > ul {
    list-style-type: none;
}

.side-bar .side-bar-items > li {
    margin-bottom: 10px;
}

.side-bar .side-bar-items > li > a {
    font-size: 1.7em;
}

.main-section .search-bar {
    float: right;
}

.file-row .fork-detail {
    text-align: right
}

.file-row .title {
    font-size: 1.2em;
    font-weight: bold;
}